<body>
    <div id="app">

        <div v-if="show_div">
            Hello, world.
        </div>
        <button type="button" v-on:click="hide()" v-if="show_div">Hide</button>
        <button type="button" v-on:click="show()" v-if="show_div==false">Show</button>
        <!-- v-if="!show_div" is the same thing as v-if="show_div==false"-->

        <br>
        <br>
        <br>

        <select v-model="id_user">
            <option v-for="(item, index) in list2" :value="item.id">{{item.name}}</option>
            <option value="2">User 2</option>
            <option value="3">User 3</option>
        </select>

        <input type="text" v-model="name" /> <button type="button" v-on:click="add()">Add</button>

        <div>
            {{name}} - ID user: {{id_user}} Counter: {{counter}}
        </div>
        <br>V_HTML
        <div v-html="name">
        </div>

        <br>
        <br>
        <br>V_FOR

        <table>
            <tr>
                <th>Name</th>
            </tr>
            <tbody>
                <tr v-for="(item, index) in list">
                    <td>{{ item.name }} - {{index}}</td>
                    <td><button v-on:click="remove(index)" type="button">Remove</button></td>
                </tr>
            </tbody>
        </table>

    </div>
</body>

<script src="https://cdn.jsdelivr.net/npm/vue@2.6.12"></script>

<script>
    var app = new Vue({
        el: "#app",

        data: {
            counter: 0,
            id_user: null,
            show_div: true,
            name: "",
            list: [
                { name: "Name 1" },
                { name: "Name 2" }
            ],
            list2: [
                { id: 1, name: "John Smith" },
                { id: 2, name: "Billy Gate" }
            ]
        },

        watch: {
            id_user: function () {
                this.counter++;
            }
        },

        methods: {
            hide() {
                this.show_div = false;
            },

            show() {
                this.show_div = true;
            },

            add() {
                this.list.push({ name: this.name });
                this.name = "";
            },
            remove(index) {
                this.list.splice(index, 1);
            }
        }

    });
</script>