<body>
    <div id="app">
        <div v-if="show_div">
            Hello, world.
        </div>
        <button type="button" v-on:click="hide()" v-if="show_div">Hide</button>
        <button type="button" v-on:click="show()" v-if="show_div==false">Show</button>
        <!-- v-if="!show_div" is the same thing as v-if="show_div==false"-->
    </div>
</body>

<script src="https://cdn.jsdelivr.net/npm/vue@2.6.12"></script>

<script>
    var app = new Vue({
        el: "#app",

        data: {
            show_div: true
        },

        methods: {
            hide() {
                this.show_div = false;
            },

            show() {
                this.show_div = true;
            }
        }

    });
</script>