<body>
    <div id="app">

        <div v-if="show_div">
            Hello, world.
        </div>
        <button type="button" v-on:click="hide()" v-if="show_div">Hide</button>
        <button type="button" v-on:click="show()" v-if="show_div==false">Show</button>
        <!-- v-if="!show_div" is the same thing as v-if="show_div==false"-->

        <br>
        <br>
        <br>

        <select>

        </select>

        <input type="text" v-model="name" /> <button type="button" v-on:click="add()">Add</button>

        <div>
            {{name}}
        </div>
        <br>V_HTML
        <div v-html="name">
        </div>

        <br>
        <br>
        <br>V_FOR

        <table>
            <tr>
                <th>Name</th>
            </tr>
            <tbody>
                <tr v-for="(item, index) in list">
                    <td>{{ item.name }} - {{index}}</td>
                </tr>
            </tbody>
        </table>

    </div>
</body>

<script src="https://cdn.jsdelivr.net/npm/vue@2.6.12"></script>

<script>
    var app = new Vue({
        el: "#app",

        data: {
            show_div: true,
            name: "",
            list: [
            ]
        },

        methods: {
            hide() {
                this.show_div = false;
            },

            show() {
                this.show_div = true;
            },

            add() {
                this.list.push({ name: this.name });
                this.name = "";
            }
        }

    });
</script>